.title {
    p {
        text-align: center;
    }
}

.card_signin {
    margin-top: 100px;
    /*Khoảng cách đến header*/
    margin-left: 70px;
    margin-bottom: 20px;
    width: 500px;
    /*Chiều rộng card*/
    height: 400px;
    /*Chiều Dài Card*/
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
}

.forgot {
    text-align: right;
    margin: -3px 0px -10px 0px;
}

form>p {
    margin-bottom: 10px;
}

.card_detail {
    background-image: url('../../../assets/Header_BG.svg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}

.page-background {
    position: relative;
}