

.dashboard .ant-layout-content {
  background-color: #9b2b2b;
  padding: 20px;
}

/* Tùy chỉnh trigger */
.ant-layout-sider-trigger {
  position: fixed;
  top: 84%; /* Đặt trigger gần cuối */
  transform: translateY(-50%); /* Canh giữa trigger theo chiều dọc */
  height: 32px; /* Chiều cao của trigger */
  width: 32px; /* Chiều rộng của trigger */
  line-height: 32px; /* Căn giữa chữ theo chiều dọc */
  background-color: #183e7f; /* Màu nền cho trigger */
  color: white; /* Màu chữ của trigger */
  border-radius: 10%; /* Bo góc cho trigger */
}

/* Loại bỏ video nền */


/* Nội dung được căn giữa */
.content-wrapper {
  position: relative;
  padding: 24px;
  border-radius: 8px;
  max-width: 1000px; /* Độ rộng tối đa của nội dung */
  margin: 50px auto; /* Căn giữa theo chiều ngang */
  min-height: 300px; /* Chiều cao tối thiểu */
  background-color: #142b504a; /* Màu nền nhẹ cho nội dung */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}
