.filter-koi-wrapper{
  background-color: #7b7474; /* Màu nền nhẹ nhàng */
  border-radius: 2px; /* Góc bo tròn */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  margin-top: 20px;

  
}
