body {
  transition: background-color 0.5s, color 0.5s;
}

body.light-theme {
  background-color: rgba(235, 202, 202, 0.805);
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}

button:hover {
  background-color: #ddd;
}
