.introduction-koi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.introduce {
  width: 45%;
  padding-right: 20px;
}

.introduce h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.introduce h4 {
  font-size: 15px;
  line-height: 1.6;
}

.introduce-video {
  width: 50%;
}

.introduce-video video {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Tùy chọn: bo góc cho video */
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Classes */
.h2-animation {
  animation: fadeIn 1s ease-out;
}

.h4-animation {
  animation: fadeIn 1.2s ease-out;
}
.news-link-animationNews {
  text-align: start;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  animation: fadeIn 1.2s ease-out;
  color: #533636 !important; /* Màu chữ mặc định */
  background-color: #2a5781 !important;
  padding: 5px 20px; /* Tạo khoảng cách bên trong link */
  border-radius: 8px; /* Tạo góc bo tròn cho link */
  font-weight: bold; /* Làm cho chữ đậm hơn */
  text-transform: uppercase; /* Chuyển văn bản thành chữ hoa */
  letter-spacing: 1px; /* Tăng khoảng cách giữa các chữ */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng khi hover */

}

.news-link-animationNews :hover {
  color: #ffae42; /* Màu vàng đậm khi hover */
  text-decoration: underline;
}

