################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Back_End/FileContentIndex/09f9f68c-a5b6-4335-aa88-a8885a7a0968.vsidx
