.layout-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Để đảm bảo trang chiếm hết chiều cao */
  }
  
  .main-content {
    flex: 1; /* Nội dung sẽ chiếm khoảng trống giữa Header và Footer */
    padding: 20px; /* Khoảng cách giữa nội dung và viền trang */
  }
  