/* SignIn.css */

.login-page-background {
    background-image: url('../../../assets/img/koi2.png');
    background-size: cover; /* Phủ toàn bộ không gian */
    background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
    background-position: center; /* Căn giữa ảnh */
    height: 100vh; /* Chiều cao toàn bộ cửa sổ */
    width: 99vw; /* Chiều rộng toàn bộ cửa sổ */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ẩn bất kỳ phần nào tràn ra ngoài */
}

.login-card-detail {
    max-width: 400px; /* Đặt chiều rộng tối đa cho card */
    margin: 20px; /* Khoảng cách từ các cạnh */
    filter: drop-shadow(0 0 15px #333);
}

.login-card-signin {
    padding: 20px; /* Khoảng cách bên trong card */
    border-radius: 10px; /* Bo tròn các góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho card */
    background-color: rgba(68, 64, 63, 0.697); /* Màu nền của card */
}

.login-p {
    color: aliceblue; /* Màu chữ */
}

.login-title {
    text-align: center; /* Căn giữa tiêu đề */
    font-size: 24px; /* Kích thước chữ */
    font-weight: bold; /* Đậm */
    color: aliceblue; /* Màu chữ */
}

.login-hightline {
    display: block;
    width: 300px; /* Chiều rộng của đường gạch */
    height: 1px; /* Chiều cao của đường gạch */
    background-color: rgb(67, 60, 22) !important; /* Màu của đường gạch */
    margin: 15px auto; /* Căn giữa đường gạch */
}

.login-forgot {
    text-align: right; /* Căn phải cho liên kết quên mật khẩu */
}

.login-button-hightline {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa nút */
    margin-top: 20px; /* Khoảng cách trên nút */
}

.login-button {
    width: 300px; /* Chiều rộng của nút chiếm toàn bộ */
    color: #333 !important; /* Màu chữ của nút */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px; /* Padding cho nút */
    font-size: 16px; /* Kích thước chữ */
    transition: background-color 1s ease !important; /* Hiệu ứng chuyển đổi màu nền */
}

.login-button:hover {
    background-color: #948c8c !important; /* Màu nền khi hover */
}

.login-return {
    text-align: center; /* Căn giữa cho phần "No account?" */
    margin-top: 20px; /* Khoảng cách trên phần "No account?" */
}
