.Guest-Competition {
  position: relative;
  padding: 20px;
  overflow: hidden; /* Đảm bảo khi di chuyển các card không bị overflow */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2a5781;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0.8; /* Thêm opacity ban đầu */
  z-index: 1; /* Đảm bảo nút điều hướng nằm trên các card */
  padding: 10px 20px;
}

.nav-button:hover {
  opacity: 1; /* Tăng độ hiển thị khi hover */
}

.nav-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.Guestcompetition-card{
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 200px; /* Đảm bảo kích thước card khi di chuyển */
  color: #001529;
}

.Guestcompetition-card:hover {
  transform: translateY(-10px); /* Nhảy lên khi hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.463); /* Thêm hiệu ứng đổ bóng */
}

.competition-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.competition-info {
  text-align: left;
}

.competition-image {
  width: 100%; /* Sửa lại width thành 100% để hiển thị đúng kích thước */
  height: 150px;
  object-fit: cover;
}

.view-button {
  margin-top: 10px;
  background-color: #FFD700;
  color: #333;
  border: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #ffae42;
}

.competition-pagination {
  margin-top: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: nowrap; /* Đảm bảo các card không xuống dòng */
  overflow-x: auto; /* Cho phép kéo ngang khi card nhiều */
  scroll-behavior: smooth; /* Mượt mà khi di chuyển */
}
